<<<<<<< HEAD
footer {
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: center;
}
=======
/*
 * === Footer style ===
 */

/* Footer style */
footer {
  align-items: center;
  background-color: #fff;
  border-top: 1px solid #ccc;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 100%;
}
>>>>>>> 14febca325023d39d7c24f41b90abeea466e003c
