<<<<<<< HEAD
header{
    background-color: #FF0000;
    height: 70PX;
    width: 100%;
}
=======
/*
 * === Header style ===
 */

/* Header style */
header {
  background-color: #f00;
  height: 70px;
  width: 100%;
}
>>>>>>> 14febca325023d39d7c24f41b90abeea466e003c
